html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

img {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 500px;
  background: rgba(106,106,106,0.80);
  border: 1px solid #979797;
  z-index: 0;
}

.tweet {
  position: absolute;
  top: 15px;
  left: 5px;
  right: 5px;
  min-width: 380px;
  min-height: 150px;
  opacity: 0.90;
  background: rgba(0,0,0,0.50);
  display: block;
  border-radius: 5px;
  padding: 5px;
}

.tweet__screen_name {
  font-family: Helvetica;
  font-size: 18.46px;
  color: #FFFFFF;
  line-height: 22px;
}

.tweet__text {
  font-family: HiraginoSans-W2;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 19.83px;
}

.controlbox {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 15px;
  left: 25px;
  right: 25px;
  width 350px;
  height: 40px;
  background: rgba(0,0,0,0.50);
  border-radius: 5px;
  text-align: center;
}

h1 {
  color: white;
}

.donwload {
  position: absolute;
  top: -5px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4A90E2;
  border: 1px solid #979797;
}

.donwload svg {
  margin-top: 10px;
}

.icon {
  margin: 5px 60px;
}

svg {
  width: 40px;
  height: 30px;
}

